# autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
configure.ac
install-sh
missing
# devtools
.dep
*.ami
/Makefile.am
/Makefile.am.common
configure.ac
doc/autodocs
!doc/autodocs/Makefile.am
package/*.tar.bz2
/test-driver
test/*.log
test/*.trs
testsuite/*.bak
/testsuite/raw.*
